/* components/GlossyNavBar.module.css */
.glossyNavBar {
    position: fixed;
    bottom: 50px;
    left: 50%; /* Move the bar to the horizontal center */
    transform: translateX(-50%); /* Center it properly */
    width: 60%; /* Set the width to 60% of the screen */
    padding: 20px;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center; /* Distribute the links evenly */
    align-items: center; /* Center the links vertically */
    margin-top: 40px;
}

.navLinks {
    list-style: none;
    display: flex;
    padding: 0;
}

.navLinks li {
    margin: 0 10px;
}

.navLinks a {
    text-decoration: none;
    color: rgb(40, 34, 50); /* Default text color */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.navLinks a:hover {
    color: aquamarine;
    cursor: pointer;
    text-decoration: overline;
}
